pre {
    font-size: 100%;
    overflow: visible;
}

pre p {
    margin-bottom: -15px;
}

pre table {
    margin-top: -0px;    
    width: 100%;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 0px;
}


pre thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

pre tbody tr {
    border-bottom: 1px solid #dddddd;
}

pre tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

pre tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}

pre ul {
    margin-top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 0px;
}

pre p + ul {
    margin-top: -0px;
}

pre + p {
    margin-top: -30px;
}

pre li {
    margin-top: -15px;
    margin-bottom: 0px;
}

pre li:nth-of-type(even) {
    background-color: #f3f3f3;
}

pre p br {
    margin-top: -10px;
    display: block; /* makes it have a width */
}

pre code {
    margin-top: 0px;
    white-space: pre-wrap;
}

